#
# Copyright (c) 2017 Joel Holdsworth <joel@airwebreathe.org.uk>
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
#    this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
# 3. Neither the name of copyright holder nor the names of its
#    contributors may be used to endorse or promote products derived from
#    this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#

set_io clk_100mhz C8	#R9

set_io pmod1_1 A11	#D8
set_io pmod1_2 B12	#B9
set_io pmod1_3 B14	#B10
set_io pmod1_4 B15	#B11
#   654321 	catboard    #   654321	icoboard
#	xxxxxx	PMOD3 A		#	xxxxxx	PMOD1 A
#	xxxxxx  PMOD3 B		#	xxxxxx  PMOD1 B
#   654321				#   654321
#
set_io pmod1_7 B10	#B8
set_io pmod1_8 B11	#A9
set_io pmod1_9 B13	#A10
set_io pmod1_10 A15	#A11
#Using sw1 & sw2
#Using sw3 [0] & sw3 [1]

set_io pmod2_7 A16	#B7
set_io pmod2_8 B9	#B6
set_io pmod2_9 C6	#B3
set_io pmod2_10 C5	#B5

#set_io sw1_i A16
#set_io sw2_i B9
#set_io sw3_i[0] C6
#set_io sw3_i[1] C5

set_io rpi_sck R11	#H11 	pin 23 BCM11_SCLK
set_io rpi_cs D4
set_io rpi_mosi P11	#A6	pin 19 BCM10_MOSI 




#PM3-A1	A11	IOT_220
#PM3-A2	B12	IOT_223
#PM3-A3	B14	IOT_171
#PM3-A4 B15	IOT_208
#PM3-B1 B10	IOT_183
#PM3-B2	B11	IOT_184
#PM3-B3 B13	IOT_178
#PM3-B4	A15	IOT_177


#set_io sw3_i[2] C4
#set_io sw3_i[3] C3
